*.pyc
*.log
node_modules
coverage/
arches_perms4/logs
arches_perms4/export_deliverables
arches_perms4/cantaloupe/*
arches_perms4/staticfiles
arches_perms4/media/packages
arches_perms4/media/build/
arches_perms4/uploadedfiles/*
arches_perms4/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
